<div id="app-container">
  <div data-controller="address">
    <div id="radar-autocomplete"></div>
      <p data-address-target="formattedAddress"></p>
      <div id="weather-cards" data-address-target="weatherCards">
      </div>
    </div>
  </div>


</div>

