<div id="app-container" data-controller="address">
    <div id="radar-autocomplete"></div>
    <div data-address-target="mainDate" class="mainDate"></div>
    <p data-address-target="cachedText" id="cachedText"></p>    
    <div data-address-target="weatherCards" id="weatherCards"></div>
</div>

